<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
<div>
    <h2>Регистрация</h2>
    <form method="POST" action="/register">
        <div>
            <input type="text" name="email" placeholder="Email" autofocus="autofocus" required>
            <div id="emailError" style="color: red;"></div>
        </div>
        <div>
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div>
            <input type="password" name="passwordConfirm" placeholder="Confirm your password" required>
            <div id="passwordError" style="color: red;"></div>
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <a href="/">Главная</a>
</div>
</body>
</html>